

#pageTitle {
	width: 100%;
}

#header {
	display: block;
	float: left;
	width: 100%;
	background-color: white;
}

#header h1 {
	color:  #666666; 
	font-family: 'League Spartan';
	text-transform: uppercase; 
	letter-spacing: .175em;
	text-align: left;
	margin-left: 50px;
}

/*****************************
How it works
*****************************/

#howItWorks {
	display: block;
	float: left;
	width: 90%;
	margin: 50px 5% 75px 5%;
}

#howItWorks {
	color: white;
}

#howItWorks h2 {
	font-size: 36px;
	text-align: center;
}

#howItWorks p {
	text-align: center;
}


/*****************************
New Task
*****************************/

#newTask, #existingTask {
	display: block;
	float: left;
	width: 37.5%;
	padding: 25px 2.5%;	
	margin: 0%;
	background-color: white;
}

#newTask {
	padding-left: 10%;
}

#existingTask {
	padding-right: 10%;
}

#newTask h2, #existingTask h2 {
	font-size: 32px;
	margin: 25px 0px;
	letter-spacing: .05em;
	color:  #666666; 
}

#endDate {
	margin-bottom: 20px;
}

#newTask input {
	font-family: 'raleway', 'sans-serif';
	font-size: 14px;
	padding: 10px;
	color: #666666; 
	border: 1px solid #D8D8D8;
	background-color: white;
}

