
/*THIS IS THE STYLING FOR THE HOME PAGE, ./homeOne.php */


/*****************************
Header
*****************************/

#header {
	padding-top: 20px;
}

#pageTitle {
	width: 60%;
	display: block;
	float: left;
	text-align: center;
	color: white;
}

#pageTitle h1 {
	font-size: 36px;
}

/*****************************
Sign in form
*****************************/


#signInForm {
	display: block;
	float: left;
	width: 40%;
}

#signInForm p {
	margin: 5px 0px;
}

#signInForm input {
	width: 100%;
	padding: 10px;
}

#existingUsername, #existingPassword, #existingSubmit {
	display: block;
	float: left;
}

#existingUsername {
	width: 35%;
	margin: 2.5% 2.5% 2.5% 5%;
}

#existingPassword {
	width: 35%;
	margin: 2.5% 2.5% 2.5% 0%;
}

#existingSubmit {
	width: 15%;
	margin: 2.5% 5% 2.5% 0%;
}

#signInForm {
	color: white;
}

#existingUsername input, #existingPassword input {
	border: none;
}

#existingSubmit input {
	width: 100%;
	margin-top: 25px;
	background-color: white;
	border: none;
	border-radius: 25px;
	font-family: 'raleway', sans-serif;
	font-size: 16px;
	color: #79D0CC;
	border: 1px solid #79D0CC;
}

#existingSubmit input:hover {
	background-color: #79D0CC;
	color: white;
	border: 1px solid white;
}

/*****************************
About Free Time
*****************************/

#aboutFreeTime {
	display: block;
	float: left; 
	width: 50%;
	padding: 5%;
}

#aboutFreeTime h1 {
	font-size: 60px;
	color: white;
	margin: 25px 0px 0px 0px;
}

#aboutFreeTime h2 {
	color: white;
	margin-bottom: 25px;
}

/*****************************
Sign Up 
*****************************/

#signUpForm {
	display: block;
	float: left;
	width: 30%;
	margin: 2.5%;
	padding: 2.4%;
	background-color: white;
	border-radius: 20px;
	border: 1px solid #D8D8D8;
}

#signUpForm h2 {
	text-align: center;
	color: #BDBDBD;
	border-bottom: 1px solid #D8D8D8;
}

#signUpForm p {
	color: #BDBDBD;
}

#firstName, #lastName {
	display: block;
	float: left;
	width: 50%;
	border-bottom: 1px solid #D8D8D8;
}

#email, #username {
	border-bottom: 1px solid #D8D8D8;
}

#signUpForm textarea {
	width: 100%;
	margin-top: 10px;
	font-family: 'raleway', 'sans-serif';
	font-size: 14px;
	padding: 20px 0px 0px 20px;
	border: none;
}

#signUp {
	margin-top: 10px;
}

#signUp input {
	border: none;
	border-radius: 25px;
	font-family: 'raleway', sans-serif;
	font-size: 16px;
	background-color: #79D0CC;
	color: white;
	padding: 10px;
	border: 1px solid #79D0CC;
}

#signUp input:hover {
	background-color: white;
	color: #79D0CC;
}
